@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/gp/GothamPro-Bold.eot');
    src: url('../fonts/gp/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gp/GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/gp/GothamPro-Bold.woff') format('woff'),
    url('../fonts/gp/GothamPro-Bold.ttf') format('truetype'),
    url('../fonts/gp/GothamPro-Bold.svg#pier_sansregular') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro-Medium.ttf') format('truetype'),
    url('../fonts/GothamPro-Medium.svg#pier_sansregular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Light.woff2') format('woff2'),
    url('../fonts/GothamPro-Light.woff') format('woff'),
    url('../fonts/GothamPro-Light.ttf') format('truetype'),
    url('../fonts/GothamPro-Light.svg#pier_sansregular') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamProNarrow-Medium.eot');
    src: url('../fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamProNarrow-Medium.woff2') format('woff2'),
    url('../fonts/GothamProNarrow-Medium.woff') format('woff'),
    url('../fonts/GothamProNarrow-Medium.ttf') format('truetype'),
    url('../fonts/GothamProNarrow-Medium.svg#pier_sansregular') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype'),
    url('../fonts/GothamPro.svg#pier_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/opensansbold.eot');
    src: url('../fonts/opensans/opensansbold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans/opensansbold.woff2') format('woff2'),
    url('../fonts/opensans/opensansbold.woff') format('woff'),
    url('../fonts/opensans/opensansbold.ttf') format('truetype'),
    url('../fonts/opensans/opensansbold.svg#pier_sansbold') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/opensans-webfont.eot');
    src: url('../fonts/opensans/opensans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans/opensans-webfont.woff2') format('woff2'),
    url('../fonts/opensans/opensans-webfont.woff') format('woff'),
    url('../fonts/opensans/opensans-webfont.ttf') format('truetype'),
    url('../fonts/opensans/opensans-webfont.svg#pier_sansbold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/opensanslight-webfont.eot');
    src: url('../fonts/opensans/opensanslight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans/opensanslight-webfont.woff2') format('woff2'),
    url('../fonts/opensans/opensanslight-webfont.woff') format('woff'),
    url('../fonts/opensans/opensanslight-webfont.ttf') format('truetype'),
    url('../fonts/opensans/opensanslight-webfont.svg#pier_sansbold') format('svg');
    font-weight: 100;
    font-style: normal;
}