@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype'),
    url('../fonts/GothamPro-Bold.svg#pier_sansregular') format('svg');
    font-weight: 900;
    font-style: normal;
}